<launch>
    <rosparam command="load" file="$(find red_car)/settings.yaml"/>
    <!--<node pkg="red_car" name="real_car_lane_follow" type="real_car_lane_follow" output="screen">
    </node> --> 
     <!--<node pkg="red_car" name="jelonek_safety_node" type="jelonek_safety_node.py" /> -->
    <node pkg = "red_car" type ="safety_node.py" name = "yuntao_safety" output="screen"/>
</launch>
